@import 'bootstrap-icons/font/bootstrap-icons.scss';

.entry-content {
  .wp-block-clearblocks-social-summary {
    .bi {
      font-family: bootstrap-icon;
      background-color: red;
      color: red;
    }
  }
}
